# the API key to get access to https://api.footprintnetwork.org
FOOTPRINT_API_KEY=
# the username to get access to https://api.footprintnetwork.org
FOOTPRINT_USERNAME=any-user-name
# the default rate limit (requests per minute). default = 100
FOOTPRINT_RATE_LIMIT=100

# the application port
APP_PORT=5000
